// This calls the font in Google fonts server
@import url('https://fonts.googleapis.com/css?family=ABeeZee');

body {
  height: 100%;
}

#container {
  font-family: 'AbeeZee', sans-serif;
}

html {
  color: #000000;
  background-color: #ff9933;
}

a {
  text-decoration: none;
  transition: 0.5s;
  color: #009900;
  cursor: pointer;
}

a:hover {
  color: #ffffff;
}

#gohome {
  margin-left: 30px;
}

.bold {
  color
}

.description {
  text-align: center;
}

.description-span {
  color: #009900;
  cursor: pointer;
  transition: 0.4s;
  font-weight: bold;
}

.description-span:hover {
  color: #ffffff;
}

.title-span {
  color: #009900;
  cursor: help;
  transition: 0.4s;
  font-weight: bold;
}

.title-span:hover {
  color: #ffffff;
}
