#name_input {
  background-color: #ff9933;
  border: 2px solid #ffff55;
  border-radius: 4px;
  font-size: 16px;
}

::placeholder {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #000000;
}

 #go {
   border: none;
   color: white;
   background-color: black;
   padding: 14px 30px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 15px;
   margin-left: 10px;
   cursor: pointer;
   border-radius: 10px;
   transition: 0.5s;
 }

#go:hover {
  color: #000000;
  font-weight: bolder;
  background-color: #ffffff;
}
