html {
  color: #000000;
  background-color: #ff9933;
}

#table {
  border-radius: 20px;
}

#table tr {
  transition: 0.7s;
  border-radius: 15px;
}

#table th:hover {
  background-color: #F5B26F;
}

#table th, #table tr {
  padding: 8px;
  border-radius: 15px;
}

a:hover {
  color: #9E9998;
  text-decoration: underline;
}
