html {
  color: #000000;
  background-color: #ff9933;
}

a {
  text-decoration: none;
  transition: 0.5s;
  color: #009900;
}

a:hover {
  color: #ffffff;
}

#gohome {
  margin-left: 30px;
}

/*
// Should be an opening animation step...=(
#gohome {
  display: none;
  transition: 0.7s;
}

#title {
  display: none;
  transition: 0.7s;
}

#description {
  display: none;
  transition: 0.7s;
}

#demo {
  display: none;
  transition: 0.7s;
}
*/
