#demo {
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
}

/*
// Should be an opening animation step...=(
#gohome {
  display: none;
  transition: 0.7s;
}

#title {
  display: none;
  transition: 0.7s;
}

#description {
  display: none;
  transition: 0.7s;
}

#demo {
  display: none;
  transition: 0.7s;
}
*/
